.DS_Store
results/capstone_video_task1_malopezserrano_480.mov
results/capstone_video_task1_malopezserrano_hq.mov
results/capstone_video_task2_malopezserrano480.mov
results/capstone_video_task2_malopezserranohq.mov
